body {
  background-color: #312244;
  width: auto;
}

header {
  background-color: #006466;
  border-radius: 25px;
  border-color: #212F45;
}

h1 {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #08d1d4;
  padding: 5px;
  border-style: groove;
  border-width: 5px;
  border-color: #272640;
  border-radius: 25px; 

}

h2 {
  font-size: 25px;
  text-align: left;
  margin: 30px;
  color: aquamarine;
  font-style: italic;
  font-style: bold;

}

h3{
 font-size: 22px; 
 color: #d0d1ff;
 margin: 10px;
 text-align: left;

}
nav {
  display: grid;
  background-color: #6a67ad;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-style: groove;
  border-width: 5px;
  border-color:#006466;
  border-radius: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  background-color: #3E1F47;
  border-radius: 25px;
  border-style: groove;
  border-width: 5px;
  border-color:#a656bd;
}

#bioArticle {
  display: inline-block;
}
article {
  width: 80%;
}
figure {
  width: 50%;
  padding: 25px;
  margin-top: 50px;
  display: inline-block;
}

figcaption {
  width: max-content;
  background-color:#a656bd;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color:#312244;
  color:#08d1d4;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-width: 3px;
  border-color:#c21b77;
  border-style:groove;
  border-radius: 10px;
}

#eden {
  padding: 10px;
  margin: 15px;
}
#pumpkin {
  width: 30%;
  height: 30%;
  padding: 10px;
  margin: 15px;
}
#jack {
  width: 10%;
  height: 10%;
  padding: 10px;
  margin: 15px;
}

p {
  display: inline-block;
  color: #a656bd;
  text-align: center;
  padding: 10px;
  width: auto;
  font-family:'Times New Roman', Times, serif;
  font-size: 1vw;
}


footer {
  background-color: #272640;
  border-radius: 25px;   
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 15px;
  padding-bottom: 15px;
  border-style: groove;
  border-width: 5px;
  border-color: #006466;
  border-radius: 25px; 
  width: max-content;
}

footer p{
  color: #6a67ad;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

li {  
  margin: 0 50px;
  color:aquamarine;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}


#games{
  text-align:left;
  width: auto;
}

li a{
  text-align: center;
  font-size: 24px;
  padding: 15;
  color: aquamarine;
}

a {
  color:aliceblue
}
a:hover {
  background-color: #c21b77;
}

li a:hover {
  background-color: #c21b77;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#schools {
  text-align: left;
  font-size: 15px;
}

#schoolhead {
  text-align: left;
  font-size: 18px;
  font-style: oblique;
}

#employment {
  text-align: left;
  font-size: 18px;
  font-style: oblique;
}

#jobList, #schoolList {
  display: grid;
  text-align: left;
  background-color:#6a67ad;
  margin: 0;
  border-radius: 50px;
  width: 500px;
  align-content: center;
  border-width: 2px;
  border-color:#212F45;
  border-style: solid;
}

#gameList{
  text-align: left;
  background-color:#6a67ad;
  margin: 0;
  border-radius: 50px;
  width: 500px;
  align-content: center;
  border-width: 2px;
  border-color:#212F45;
  border-style: solid;
}

#schoolList, #schoolhead{
  float: inline-start;
}
#eduP, .jobP, #goalP, #bioP{
  float: inline-end;
  text-align: left; 
  background-color: #212F45;
  width: auto;
  border-width: 2px;
  border-color:#6a67ad;
  border-style:solid;
  border-radius:50px;
}

#contact {
  text-align: center;
}